[Unit]
Description=Launch containers at startup

[Service]
Type=forking
ExecStart=/usr/local/sbin/containerd start
ExecStop=/usr/local/sbin/containerd stop
RemainAfterExit=no
Restart=always
PIDFile=/var/run/containerd.pid

[Install]
WantedBy=multi-user.target