[Unit]
Description=Launch sysdigd as daemon

[Service]
Type=forking
ExecStart=/usr/local/sbin/sysdigd start
ExecStop=/usr/local/sbin/sysdigd stop
RemainAfterExit=no
Restart=always
PIDFile=/var/run/sysdigd.pid

[Install]
WantedBy=multi-user.target