[submodule "ideas/cowrie"]
	path = ideas/cowrie
	url = https://github.com/micheloosterhof/cowrie
[submodule "ideas/whosthere"]
	path = ideas/whosthere
	url = https://github.com/FiloSottile/whosthere.git
[submodule "ideas/dockerpot"]
	path = ideas/dockerpot
	url = https://github.com/mrschyte/dockerpot.git
[submodule "ideas/atrace"]
	path = ideas/atrace
	url = https://github.com/apuigsech/atrace.git
[submodule "ideas/libaudit-go"]
	path = ideas/libaudit-go
	url = https://github.com/mozilla/libaudit-go.git
[submodule "ideas/syscallinfo"]
	path = ideas/syscallinfo
	url = https://github.com/jroimartin/syscallinfo
[submodule "ideas/netlink"]
	path = ideas/netlink
	url = https://github.com/apuigsech/netlink
[submodule "ideas/Audit-Go"]
	path = ideas/Audit-Go
	url = https://github.com/AALEKH/Audit-Go.git
